<div class="row">
  <div class="center-block">
  <h1>
    Shock John
  </h1>
  <p>Push the button to send a shock to John's Pavlok pain-as-a-service bracelet.</p>
  <p>
    <%= button_to "Shock John", "/home/send_shock", class: "btn btn-large btn-danger" %>
  </p>
  </div>
</div>
