<div class="container-fluid">
  <div class="row">
    <div class="jumbotron">
      <h1>Shock John</h1>
    </div>
    <div class="row">
      <div class="col-md-12 center-block">
        <p>
          <button type="button" class="btn btn-lg btn-danger center-block">Shock</button>
        </p>
      <div>
    </div>
  </div>
</div>
